.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("assets/doodle.svg");
    background-repeat: no-repeat;
    background-position: -100px 0px;
}
.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.buttonAdvice{
    margin-block: 30px;
    width: 300px;
    height: 70px;
    background-color: #313A48;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    color: #CEE3E9;
    border: 2px solid #202733 ;
    transition: 1s;
    cursor: pointer;
}
.header{
    text-decoration: underline;
}
.buttonAdvice:hover{
    transform: rotate(10deg);
}
.buttonDog{
    margin-block: 30px;
    width: 300px;
    height: 70px;
    color: white;
    background-color: #9076c6;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #d1ec67;
    transform: rotate(-10deg);
    transition: 1s;
    cursor: pointer;
}
.buttonDog:hover{
    transform: rotate(10deg);
}
.buttonJoke{
    margin-block: 30px;
    width: 300px;
    height: 70px;
    background-color: #b4ff5c;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    transition: 1s;
    cursor: pointer;

}
.buttonJoke:hover{
    transform: rotate(10deg);
}
